:root {
  --red: #ea0000;
  --darkred: #b92323;
  --darkcream: #ffedb3;
  --cream: #fdffd9;
  --green: #39914c;
  --blackmain: #414131;
}

body {
    background-color: var(--cream);
}

main {
    margin: auto;
    width: 70%;
}

section {
    width: 80%;
    position: absolute;
    left: 16em;
    top: 53em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: black;
    margin: 0;
    padding: 9px;
    line-height: 17pt;
}


h1 {
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
    font-size: 6em;
    color: var(--red);
    margin: 0;
    text-align: right;
    line-height: -2em;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    line-height: 38pt;
    color: var(--green);
}


h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: black;
    text-align: center;
}


.buttons-holder {
    position: absolute;
    margin: center;
    background-color: var(--red);
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.buttons {
    border: 1em;
    background-color: var(--darkcream);
    flex-grow: 2;
    align-self: center;
    text-align: center;
    border-radius: 20px;
}

.images {
    position: relative;
    top: 144px;
    left: 2em;
    background-image: url(https://images.unsplash.com/photo-1600718894668-940d0e4a1539?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    background-position: center;
    width: 947px;
    height: 538px;
} 

.mainone {
    display: block;
}

.title {
    position: absolute;
    left: 36em;
    top: 29em;
}

.column1 {
    position: absolute;
    left: 2em;
    top: -4em;
    height: 592px;
}

.column2 {
    position: absolute;
    left: 6em;
    top: 3em;
    width: 750px;
    height: 592px;
}

#icons {
    background-image: url(../images/day-01.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: -696px;
    left: 9px;
    border-radius: 50px;
}

#icons:hover {
    animation: shaking 500ms infinite;
}





body.darkmode #icons {
    background-image: url(../images/dark-02.png);
    width: 50px;
    height: 50px;
    background-size: cover;
}

body.darkmode .buttons-holder {
    background-color: var(--darkred);
}


body.darkmode h1 {
    color: var(--darkred);
}


body.darkmode {
    background-color: var(--blackmain);
}

body.darkmode p {
    color: white;
    text-decoration: bold;
}











@media screen and (max-width: 1000px){
    .images {
        width: 547px;
        height: 450px;
    }

    .title {
        left: 7em;
    }

    section {
        left: -29em;
    }

    .column1 {
        left: 30em;
        top: -6em;
        width: 340px;
    }

    .column2 {
        left: 54em;
        top: -3em;
        width: 400px;
    }

    .column3 {
    display: none;
    }
}


@media screen and (max-width: 800px){
    .images {
        left: -3em;
        width: 537px;
        height: 300px;
    }

    .title {
        left: 27em;
        top: 28em;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        position: relative;
        top: 18px;
        left: -6em;
        padding: 5px;
    }

    h2 {
        font-size: 2em;
    }

    section {
        top: 38em;
    }

    p {
        font-size: 0.7em;
    }

    .column1 {
        left: 38em;
        top: 3em;
        width: 326px;
        text-align: center;
        height: 0px;
    }

    .column2 {
        left: 36em;
        top: 16em;
        text-align: center;
    }

    #icons {
        top: -456px;
        left: 501px;
    }
}


@media screen and (max-width: 500px){
    .images {
        left: -3em;
        width: 325px;
        height: 300px;
    }

    .title {
        left: 18em;
    }

    h1 {
        font-size: 3em;
        text-align: left;
        position: relative;
        top: 18px;
        left: -6em;
        padding: 5px;
    }

    h2 {
        font-size: 2em;
    }

    section {
        top: 38em;
    }

    p {
        font-size: 0.7em;
    }

    .column1 {
        left: 30em;
        top: 3em;
        width: 300px;
        text-align: left;
        height: 0px;
    }

    .column2 {
        left: 29em;
        top: 15em;
        width: 300px;
        text-align: left;
    }

    #icons {
        top: -456px;
        left: 473px;
    }
}


@media screen and (max-width: 300px){
    .images {
        height: 177px;
        width: 236px;
        left: -2em;
        top: 11em;
    }

    .title {
        left: 14em;
        top: 22em;
    }

    h1 {
        font-size: 2.3em;
        text-align: left;
        position: relative;
        top: 18px;
        left: -6em;
        padding: 5px;
    }

    h2 {
        font-size: 1.8em;
    }

    section {
        top: 38em;
    }

    p {
        font-size: 0.7em;
    }

    .column1 {
        left: 30em;
        top: -7em;
        width: 300px;
        text-align: left;
        height: 0px;
    }

    .column2 {
        left: 30em;
        top: 4em;
        width: 224px;
        text-align: left;
    }

    #icons {
        top: -31em;
        left: 35em;
    }
}