body {
	margin-top: 7em;
	margin-bottom: 7em;
	margin-right: 7em;
	margin-left: 4em;
}



.bg {
	background-image: url(images/bg-paper.jpeg);
	height: 100%;
	width: 100%;
  	background-repeat: repeat;
  	background-size: unset;
}

h1 {
	font-family: 'Jost', sans-serif;
	font-size: 30pt;
	line-height: 60pt;
	font-weight: 500;
	padding: 5px;
	text-align: center;
	flex: 1;
}

h2 {
	font-family: 'Jost', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	padding: 5px;
	text-align: left;
}

h3 {
	font-family: 'Jost', sans-serif;
	font-size: 10pt;
	line-height: 13pt;
	font-kerning: -5pt;
	font-weight: 400;
	margin-top: -7em;
	padding: 47px;
	text-align: justify;
	flex: 2;
}

.sidebar {
	background-color: #ffd3fe;
	border-radius: 20px;
	width: 300px;
	height: 650px;
	top: 36px;
	margin: 20px;
	position: fixed;
	display: flex;
    flex-direction: column;

}

img {
	flex: 1;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: 50px;
	margin-top: 80px;
}

.exercisebox {
	top: 48px;
    left: 393px;
    width: fit-content;
    height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;

}

.exercise1 {
	background-image: url(images/collective-alphabet.png);
	background-size: cover;
	width: 475px;
	height: 250px;
	border: 10px;
	animation: wiggle 1s infinite;
}

.exercise2 {
	background-image: url(images/figma-sketch-p1.png);
	background-size: cover;
	width: 475px;
	height: 250px;
	border: 10px;
	animation: wiggletwo 1s infinite;
}

.exercise3 {
	background-image: url(images/css-still-life.png);
	background-size: cover;
	width: 475px;
	height: 250px;
	border: 10px;
	animation: wiggle 1s infinite;
}

.exercise4 {
	background-image: url(images/inspector-ss.png);
	background-size: cover;
	width: 475px;
	height: 250px;
	border: 10px;
	animation: wiggletwo 1s infinite;

}

.exercise5 {
	background-image: url(images/poster-remake.png);
	background-size: cover;
	width: 475px;
	height: 250px;
	border: 10px;
	animation: wiggle 1s infinite;

}

.projectbox {
	width: 475px;
	height: 82em;
    position: absolute;
    top: 56px;
    left: 977px;
	display: flex;
	flex-direction: column;

}

.project1 {
	flex: 1;
	background-image: url(images/project1.png);
	background-size: cover;
	width: 475px;
	height: 130px;
	border: 10px;
	animation: circular1 3s infinite;
}

.project1:hover {
	background-image: url(images/project1-open.png);
	background-size: cover;
}

.project2 {
	flex: 1;
	background-image: url(images/project2.png);
	background-size: cover;
	width: 475px;
	height: 130px;
	border: 10px;
	animation: circular2 1s infinite;
}

.project2:hover {
	background-image: url(images/project2-open.png);
	background-size: cover;
}

.project3 {
	flex: 1;
	background-image: url(images/project3.png);
	background-size: cover;
	width: 475px;
	height: 130px;
	border: 10px;
	animation: circular1 500ms infinite;
}

.project3:hover {
	background-image: url(images/project3-open.png);
	background-size: cover;
}

button {
	background-color: #f0e4f0;
	flex: 1;
	font-family: 'Jost', sans-serif;
	font-size: 10pt;
	transition: 200ms ease 200ms;

}

button:hover {
	background-color: #d5ced5;
	transition: background-color 200ms ease 200ms;
}

body.darkmode button {
	background-color: #362736;
	color: #f0e4f0;
}

body.darkmode .sidebar {
	background-color: #7f607e;
}

body.darkmode h1 {
	color: #f0e4f0;
}

body.darkmode h3 {
	color: #f0e4f0;
}














@keyframes wiggle {
	0% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@keyframes wiggletwo {
	0% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@keyframes circular1 {
	0% {
		transform: rotate(3turn);
		transform: skew(0deg,15deg);
	}
	50% {
		transform: skew(-15deg,0deg);
	}
	100% {
		transform: skew(0deg,15deg);
	}
}

@keyframes circular2 {
	0% {
		transform: rotate(5turn);
		transform: skew(0deg,-15deg);
	}
	50% {
		transform: skew(15deg,0deg);
	}
	100% {
		transform: skew(0deg,-15deg);
	}
}