body {
	font-family: 'Special Elite', cursive;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin: 0;
	background-color: #F4EBC0;

}

main{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
	max-width: 70%;
	background: #F4EBC0;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Averia Serif Libre', cursive;
	font-weight: normal;
	letter-spacing: 2px;
}

h1{
	font-size: 5rem;
}


h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

.container {
	flex: 1;
}

.container2 {
	flex: 1;
	align-content: flex-start;
}

.box1 {
	background: #f8961e;
	border-radius: 20px;
	height: 30px;
	transition-property: height background;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box1:hover {
	height: 60px;
	background: #f3722c;
	transition-property: height background;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}




}