:root {
    --green: #39914c;
    --cream: #fdffd9;
}


body {
    background-color: #fdffd9;
}

main {
    background-color: #fdffd9;
    width: 100%;
    overflow: hidden;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: bold;
    color: black;
    margin: 0;
    padding: 20px;
    line-height: 18pt;
}


h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    color: black;
    margin: 0;
    padding: 20px;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.8em;
    color: black;
    margin: 0;
    padding: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: black;
    text-align: center;
}


.buttons-holder {
    position: absolute;
    margin: center;
    background-color: red;
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.buttons {
    border: 1em;
    background-color: #fdffd9;
    flex-grow: 2;
    align-self: center;
    text-align: center;
    border-radius: 20px;
}

.holder1 {
    display: flex;
    flex-direction: column;
    width: 582px;
    height: 650px;
    top: 121px;
    position: relative;
}

.holder2 {
    display: flex;
    width: 919px;
    height: 650px;
    top: -529px;
    left: 37em;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.box1 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    position: relative;
    top: 226px;
}

.box2 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    position: relative;
    top: 26px;
    left: 304px;
}

.box3 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
}

.box4 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box5 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box6 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box7 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box8 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box9 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
}

.box10 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}

.box11 {
    width: 280px;
    height: 200px;
    background-color: red;
    overflow: scroll;
}
