:root {
  --red: #ea0000;
  --darkred: #b92323;
  --darkcream: #ffedb3;
  --cream: #fdffd9;
  --green: #39914c;
  --blackmain: #414131;
}


body {
    background-color: var(--cream)
}

main {
    width: 100%;
    height: 750px;
    overflow: hidden;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: bold;
    color: white;
    margin: 0;
    padding: 20px;
    line-height: 18pt;
}


h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    color: black;
    margin: 0;
    padding: 20px;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.9em;
    color: black;
    margin: 0;
    padding: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: black;
    text-align: center;
}


.buttons-holder {
    position: absolute;
    margin: center;
    background-color: var(--red);
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.buttons {
    border: 1em;
    background-color: var(--darkcream);
    flex-grow: 2;
    align-self: center;
    text-align: center;
    border-radius: 20px;
}

.buttons:hover {
    background-color: var(--green);
    transition: 500ms ease 300ms;
}

.holder1 {
    display: flex;
    flex-direction: column;
    width: 582px;
    height: 650px;
    top: 121px;
    position: relative;
}

.holder2 {
    display: flex;
    width: 919px;
    height: 650px;
    top: -529px;
    left: 37em;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.box1 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    position: relative;
    top: 226px;
    animation: colorblink 6s infinite;
}

.box2 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    position: relative;
    top: 26px;
    left: 304px;
    animation: colorblink 6.5s infinite;
}

.box3 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    animation: colorblink 3s infinite;
}

.box4 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box5 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box6 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box7 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box8 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box9 {
    width: 280px;
    height: 200px;
    background-color: var(--green);
    animation: colorblink 3s infinite;
}

.box10 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

.box11 {
    width: 280px;
    height: 200px;
    background-color: var(--red);
    overflow: scroll;
}

#icons {
    background-image: url(../images/day-01.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 7em;
    left: 9px;
    border-radius: 50px;
}

#icons:hover {
    animation: shaking 500ms infinite;
}







body.darkmode #icons {
    background-image: url(../images/dark-02.png);
    width: 50px;
    height: 50px;
    background-size: cover;
}

body.darkmode .buttons-holder {
    background-color: var(--darkred);
}

body.darkmode .box6 {
    background-color: var(--darkred);
}

body.darkmode .box4 {
    background-color: var(--darkred);
}

body.darkmode .box7 {
    background-color: var(--darkred);
}

body.darkmode .box10 {
    background-color: var(--darkred);
}

body.darkmode .box5 {
    background-color: var(--darkred);
}

body.darkmode .box8 {
    background-color: var(--darkred);
}

body.darkmode .box11 {
    background-color: var(--darkred);
}

body.darkmode {
    background-color: var(--blackmain);
}

body.darkmode p {
    color: white;
    font-weight: bold;
}



@keyframes shaking {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes colorblink {
  0% {
    background-color: #39914c;
 }
  25% {
    background-color: #3ca452;
 }
 50% {
    background-color: #2fc54f;
 }
 75% {
    background-color: #1ed846;
 }
100% {
    background-color: #2fc54f;
 }
}




@media screen and (max-width: 950px) {
    main {
        height: 1100px;
    }

    .holder1 {
        top: -5em;
        left: 11em;
    }

    .holder2 {
        top: -16em;
        left: -1em;
    }
}


@media screen and (max-width: 400px) {
    main {
        height: 1800px;
    }

      h2 {
        font-size: 2.6em;
    }

    .holder1 {
        display: none;
    }

    .holder2 {
        display: block;
        width: 919px;
        height: 650px;
        top: 11em;
        left: 1em;
        position: absolute;
    }

    .box3 {
        width: 343px;
        height: 200px;
    }

    .box9 {
        width: 343px;
        height: 200px;
    }

    .box4 {
        width: 309px;
        height: 200px;
    }

    .box5 {
        width: 294px;
        height: 200px;
    }

    .box6 {
        width: 309px;
        height: 200px;
    }

    .box7 {
        width: 294px;
        height: 200px;
    }

    .box8 {
        width: 309px;
        height: 200px;
    }

    .box10 {
        width: 294px;
        height: 200px;
    }

    .box11 {
        width: 309px;
        height: 200px;
    }

    #icons {
        top: 7em;
        left: 164px;
    }

}



@media screen and (max-width: 300px) {
    main {
        height: 1800px;
    }

    h2 {
        font-size: 2em;
    }

    .holder1 {
        display: none;
    }

    .holder2 {
        display: block;
        top: 10em;
        left: 1em;
        height: 100%;
    }

    .box3 {
        width: 246px;
        height: 134px;
    }

    .box9 {
        width: 246px;
        height: 134px;
    }

    .box4 {
        width: 246px;
        height: 200px;
    }

    .box5 {
        width: 246px;
        height: 200px;
    }

    .box6 {
        width: 246px;
        height: 200px;
    }

    .box7 {
        width: 246px;
        height: 200px;
    }

    .box8 {
        width: 246px;
        height: 200px;
    }

    .box10 {
        width: 246px;
        height: 200px;
    }

    .box11 {
        width: 246px;
        height: 200px;
    }

    #icons {
        top: 109px;
        left: 119px;
    }

}


