:root {
  --red: #ea0000;
  --darkred: #b92323;
  --darkcream: #ffedb3;
  --cream: #fdffd9;
  --green: #39914c;
  --blackmain: #414131;
}

body {
	background-color: var(--cream);
}

main {
	background-color: var(--cream);
    width: 1600px;
    height: 750px;
    left: -1vw;
    overflow: hidden;
    margin: auto;
    position: fixed;
    z-index: -1;
    animation: shakingtwo 3s infinite;
}

footer {
	background-color: black;
	width: auto;
	height: 200px;

}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: black;
    margin: 0;
    padding: 20px;
    line-height: 18pt;
}


h1 {
   font-family: 'Archivo Black', sans-serif;
    font-size: 3.8em;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: solid;
    z-index: 1;
}

h3 {
   font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

h4 {
   font-family: 'Archivo Black', sans-serif;
    font-size: 2.3em;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}


.roof {
	position: fixed;
    left: 3.6vw;
    top: -7.4vw;
    background-color: var(--red);
    height: 211px;
    width: 1362px;
    z-index: 1;
    transform: perspective(50px) rotateX(-7deg);
}

.floor {
	position: fixed;
    left: -2.4vw;
    top: 35.6vw;
    z-index: 1;
    background-color: var(--red);
    height: 357px;
    width: 1553px;
    transform: perspective(50px) rotateX(7deg);
}

.front-view {
	width: fit-content;
	height: fit-content;
}

#exitdoor1 {
    background-color: var(--green);
    position: fixed;
    width: 200px;
    height: 244px;
    top: 23.4vw;
    left: 40vw;
    animation: colorblink 5s infinite;
}

#clock {
	position: fixed;
    width: 100px;
    height: 100px;
    background-image: url(./images/day-01.png);
    background-size: cover;
    border-radius: 50%;
    top: 8vw;
    left: 42.9vw;
    z-index: 1;
}

#clock:hover {
    animation: shaking 500ms infinite;
}

#aboutbox {
	   position: fixed;
    text-align: center;
    width: 120px;
    height: 80px;
    background-color: var(--red);
    top: 24vw;
    left: 17vw;
    border-radius: 5px;
    transform: rotate(-2deg);
    animation: shaking 3s infinite;
}

#firstaidbox {
	position: fixed;
    width: 120px;
    height: 100px;
    background-color: var(--red);
    top: 24vw;
    left: 28vw;
    border-radius: 5px;
    animation: shaking 3s infinite;
}

#firstaidcross {
	 background-color: var(--blackmain);
    top: 24.5vw;
    left: 30.8vw;
    height: 85px;
    position: fixed;
    width: 37px;
}
#firstaidcross:after {
    background-color: var(--blackmain);
    content: "";
    height: 33px;
    left: 28.5vw;
    position: fixed;
    top: 26vw;
    width: 108px;
}

.circle1 {
	position: fixed;
    background-color: var(--red);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 24vw;
    left: 64vw;
}

.circle2 {
	position: fixed;
    background-color: var(--red);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 28.5vw;
    left: 62.6vw;
    z-index: 1;
}

.halfcircle {
	width: 70px;
    height: 3px;
    background-color: var(--red);
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid var(--red);
    border-bottom: 0;
    top: 27.2vw;
    left: 62vw;
    position: fixed;
    transform: rotate(107deg);
    z-index: 1;
}

#phonebox {
	position: fixed;
    width: 90px;
    height: 116px;
    background-color: var(--red);
    top: 24vw;
    left: 57vw;
    border-radius: 5px;
    animation: shaking 3s infinite;
}

#outerscreen {
	position: fixed;
    width: 145px;
    height: 116px;
    background-color: var(--red);
    top: 23vw;
    left: 70.5vw;
    border-radius: 5px;
}

#screen {
	position: fixed;
    top: 22.1vw;
    left: 71.3vw;
    width: 120px;
    height: 100px;
    margin: 20px 0;
    background: var(--green);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
}
#screen:before {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: -5%;
      left: -5%;
      background: inherit;
      border-radius: 5% / 50%;
}

.drawer {
	position: fixed;
    width: 200px;
    height: 116px;
    background-color: var(--red);
    top: 31.5vw;
    left: 69vw;
    border-radius: 5px;
    animation: sliding 3s infinite;
}

.exit {
	position: fixed;
    width: 170px;
    height: 39px;
    background-color: var(--green);
    top: 20vw;
    left: 41vw;
    border-radius: 5px;
    text-align: center;
}

.leftpanel {
	position: fixed;
    width: 446px;
    height: 800px;
    background-color: var(--darkcream);
    top: -4vw;
    left: -10vw;
    transform: perspective(400px) rotateY(39deg);
}

.rightpanel {
	position: fixed;
    width: 446px;
    height: 800px;
    background-color: var(--darkcream);
    top: -4vw;
    left: 77vw;
    transform: perspective(400px) rotateY(-39deg);
}


.abouttext {
    position: fixed;
    top: 25vw;
    left: 19vw;
    transform: rotate(-2deg);
    z-index: 1;
}

.preparetext {
    position: fixed;
    top: 25.5vw;
    left: 29.4vw;
    z-index: 1;
}

.contacttext {
    position: fixed;
    top: 25.5vw;
    left: 57.1vw;
    z-index: 1;
}

.additionaltext {
    position: fixed;
    top: 24vw;
    left: 71vw;
    z-index: 1;
}

.exittext {
    position: fixed;
    top: 16.5vw;
    left: 43.5vw;
}

.holdersmall {
      display: none;
    }





body.darkmode #clock {
    background-image: url(./images/dark-02.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: shaking 500ms infinite;
}

body.darkmode .roof {
  background-color: #b92323;
}

body.darkmode .floor {
  background-color: #b92323;
}

body.darkmode #clock {
  background-color: #b92323;
}

body.darkmode #aboutbox {
  background-color: #b92323;
  animation: none;
}

body.darkmode #phonebox {
  background-color: #b92323;
  animation: none;
}

body.darkmode #firstaidbox {
  background-color: #b92323;
  animation: none;
}

body.darkmode .circle1 {
  background-color: #b92323;
}

body.darkmode .circle2 {
  background-color: #b92323;
}

body.darkmode .halfcircle {
  background-color: #b92323;
  border: 10px solid #b92323;
  border-bottom: 0;
}

body.darkmode #outerscreen {
  background-color: #b92323;
}
body.darkmode .drawer {
  background-color: #b92323;
  animation: none;
}

body.darkmode main {
 background-color: #414131;
 animation: none;
}

body.darkmode .leftpanel .rightpanel {
  background-color: #c4b78d;
}







@media screen and (max-width: 1295px){
  .holdersmall {
      display: none;
    }
   .roof {
    width: 1165px;
   }

   .floor {
    width: 1325px;
   }

   .leftpanel {
    width: 374px;
   }

   #exitdoor1 {
    height: 214px;
   }

   #firstaidcross{
    left: 31.3vw;
   }

   .exittext {
    top: 15.7vw;
    left: 44vw;
   }

}


@media screen and (max-width: 1152px){
    .holdersmall {
      display: none;
    }

   .roof {
    width: 1048px;
   }

   .floor {
    width: 1192px;
   }

   #clock {
    width: 70px;
    height: 70px;
    top: 12vw;
    left: 45vw;
   }

   .leftpanel {
    width: 314px;
   }

   .rightpanel {
    width: 605px;
   }

   .exit {
    width: 132px;
    left: 42vw;
   }

   #phonebox {
    height: 96px;
   }

   #outerscreen {
    height: 86px;
   }

   #screen {
    height: 67px;
   }

   #aboutbox {
    width: 95px;
    height: 61px;
    left: 18vw;
   }

   .drawer {
    height: 172px;
   }

   #exitdoor1 {
    width: 152px;
    top: 27vw;
    left: 41.5vw;
   }

   #firstaidcross{
    left: 32vw;
   }

   .exittext {
    top: 14.2vw;
    left: 44vw;
   }

}


@media screen and (max-width: 800px){

    h2 {
      font-size: 0.8em;
    }

   .roof {
    left: 3.6vw;
    top: -7.4vw;
    height: 211px;
    width: 51em;
   }

   .floor {
    left: -2.4vw;
    top: 61.6vw;
    height: 357px;
    width: 57em;
   }

   #clock {
    width: 70px;
    height: 70px;
    top: 24vw;
    left: 46vw;
   }

   .leftpanel {
    left: -16vw;
   }

   .rightpanel {
    left: 78vw;
   }

   .exit {
    width: 132px;
    left: 42.5vw;
    top: 39vw;
   }

   #phonebox {
    height: 76px;
    top: 46vw;
    left: 62vw;
    width: 66px;
   }

   #outerscreen {
    height: 86px;
    top: 43vw;
    left: 76.3vw;
    width: 119px;
   }

   #screen {
    height: 67px;
    top: 41.6vw;
    left: 77.6vw;
    width: 98px;
   }

   #aboutbox {
    width: 79px;
    height: 66px;
    left: 18vw;
    top: 48vw;
}

   .drawer {
    height: 108px;
    top: 54.5vw;
    left: 74vw;
    width: 151px;
    animation: none;
   }

   #exitdoor1 {
    width: 152px;
    top: 46vw;
    left: 41.5vw;
    height: 179px;
   }

   #firstaidcross{
    left: 32.5vw;
    top: 47vw;
   }

   .exittext {
    top: 31.7vw;
    left: 45vw;
   }

   #firstaidbox {
    top: 47vw;
    width: 96px;
    height: 87px;
    left: 28.5vw;
   }

   .abouttext {
    top: 49.7vw;
    left: 20vw;
   }

   .additionaltext {
    top: 44.5vw;
    left: 77.3vw;
   }

   .halfcircle {
    width: 36px;
    height: 1px;
    top: 49.2vw;
    left: 68vw;
   }

   .circle1 {
    width: 20px;
    height: 20px;
    top: 46vw;
    left: 70.5vw;
   }

   .circle2 {
    width: 20px;
    height: 20px;
    top: 50.5vw;
    left: 68.6vw;
   }

   .contacttext {
    top: 47.5vw;
    left: 62.1vw;
   }

   .firstaidbox {
    width: 96px;
    height: 87px;
    top: 47vw;
    left: 28.5vw;
   }

   #firstaidcross:after {
    height: 33px;
    left: 29.2vw;
    top: 50vw;
    width: 89px;
   }

   .preparetext {
    top: 49.3vw;
    left: 30.5vw;
   }

}


@media screen and (max-width: 450px){
  main {
    animation: none;
    overflow: scroll;
  }

  h1 {
    font-size: 3em;
    text-align: left;
  }

  h3 {
    font-size: 3em;
    text-align: left;
  }
   .roof {
    display: none;
   }

   .floor {
    display: none;
   }

   #clock {
    display: none;
   }

   .leftpanel {
    display: none;
   }

   .rightpanel {
    display: none;
   }

   .exit {
    display: none;
   }

   #phonebox {
    display: none;
   }

   #outerscreen {
    display: none;
   }

   #screen {
    display: none;
   }

   #aboutbox {
    display: none;
}

   .drawer {
    display: none;
   }

   #exitdoor1 {
   display: none;
   }

   #firstaidcross{
    display: none;
   }

   .exittext {
    display: none;
   }

   #firstaidbox {
   display: none;
   }

   .abouttext {
    display: none;
   }

   .additionaltext {
    display: none;
   }

   .halfcircle {
    display: none;
   }

   .circle1 {
    display: none;
   }

   .circle2 {
    display: none;
   }

   .contacttext {
    display: none;
   }

   #firstaidbox {
   display: none;
   }

   #firstaidcross:after {
    display: none;
   }

   .preparetext {
    display: none;
   }

   .holdersmall {
  display: flex;
  top: 1vw;
  position: absolute;
  flex-direction: column;
  width: 250px;
  height: 750px;
  z-index: 1;
}

#earthquakes {
  background-color: var(--green);
  width: 450px;
  height: 200px;
}

#earthquakes:hover {
  background-color: var(--red);
}

#aboutbox2 {
  background-color: var(--red);
  width: 450px;
  height: 200px;
}

#aboutbox2:hover {
  background-color: var(--green);
}

#preparebox2 {
  background-color: var(--green);
  width: 450px;
  height: 200px;
}
#preparebox2:hover {
  background-color: var(--red);
}

#contactbox2 {
  background-color: var(--red);
  width: 450px;
  height: 200px;
}

#contactbox2:hover {
  background-color: var(--green);
}

#additionalbox2 {
  background-color: var(--green);
  width: 450px;
  height: 200px;
}

#additionalbox2:hover {
  background-color: var(--red);
}

}



@media screen and (max-width: 300px){
  h1 {
    font-size: 1.8em;
    text-align: left;
  }

  h3 {
    font-size: 2em;
    text-align: left;
  }

  main {
    animation: none;
    overflow: scroll;
  }
   .roof {
    display: none;
   }

   .floor {
    display: none;
   }

   #clock {
    display: none;
   }

   .leftpanel {
    display: none;
   }

   .rightpanel {
    display: none;
   }

   .exit {
    display: none;
   }

   #phonebox {
    display: none;
   }

   #outerscreen {
    display: none;
   }

   #screen {
    display: none;
   }

   #aboutbox {
    display: none;
}

   .drawer {
    display: none;
   }

   #exitdoor1 {
   display: none;
   }

   #firstaidcross{
    display: none;
   }

   .exittext {
    display: none;
   }

   #firstaidbox {
   display: none;
   }

   .abouttext {
    display: none;
   }

   .additionaltext {
    display: none;
   }

   .halfcircle {
    display: none;
   }

   .circle1 {
    display: none;
   }

   .circle2 {
    display: none;
   }

   .contacttext {
    display: none;
   }

   #firstaidbox {
   display: none;
   }

   #firstaidcross:after {
    display: none;
   }

   .preparetext {
    display: none;
   }

   .holdersmall {
  display: flex;
  top: 1vw;
  position: absolute;
  flex-direction: column;
  width: 250px;
  height: 750px;
  z-index: 1;
}

#earthquakes {
  flex: 1;
  background-color: var(--green);
  width: 450px;
  height: 200px;
}

#earthquakes:hover {
  background-color: var(--red);
}

#aboutbox2 {
  background-color: var(--red);
  width: 450px;
  height: 200px;
}

#aboutbox2:hover {
  background-color: var(--green);
}

#preparebox2 {
  background-color: var(--green);
  width: 450px;
  height: 200px;
}
#preparebox2:hover {
  background-color: var(--red);
}

#contactbox2 {
  background-color: var(--red);
  width: 450px;
  height: 200px;
}

#contactbox2:hover {
  background-color: var(--green);
}

#additionalbox2 {
  background-color: var(--green);
  width: 450px;
  height: 200px;
}

#additionalbox2:hover {
  background-color: var(--red);
}

}








@keyframes shaking {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes shakingtwo {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes sliding {
  0% {
    top: 31.5vw; left: 69vw;
  }
  25%{
    top: 31.5vw; left: 71vw;
  }
  50%{
    top: 31.5vw; left: 73vw;
  }
  75%{
    top: 31.5vw; left: 71vw;
  }
  100%{
    top: 31.5vw; left: 69vw;
  }
}

@keyframes colorblink {
  0% {
    background-color: #39914c;
 }
  25% {
    background-color: #3ca452;
 }
 50% {
    background-color: #2fc54f;
 }
 75% {
    background-color: #1ed846;
 }
100% {
    background-color: #2fc54f;
 }
}

