

body{
	font-family: 'Special Elite', cursive;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 1.25px;
	line-height: 2em;
	margin: 0px;
	background-color: #F4EBC0;
}


main{
	margin: 10pt;
	max-width: 80%;
	margin: auto;
	background: #F4EBC0;
}

h1,h2,h3,h4,h5 {
	font-family:'Averia Serif Libre', cursive;
	font-weight: normal;
	letter-spacing: 0px;
}

h2,h6 {
	font-family:'Averia Serif Libre', cursive;
	font-weight: normal;
	letter-spacing: 0px;
	color: #e9ecef;
}

h1{
	font-size: 5rem;
}


h2 {
	font-size: 4rem;
}

h3 {
	font-size: 0.80rem;
}

h4 {
	font-size: 1.7rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 0.80rem;
}

/*.image1 {
	position:absolute;
	opacity: 100%;
	z-index: 100;
	margin-top: -103px;
	margin-left: 32px;
	transition: margin-top 5s ease 2s;
	
}

.image1:hover {
	margin-top: -780px;
	transition: margin-top 5s ease 2s;

}

.image2 {
	position:absolute;
	opacity: 100%;
	z-index: 100;
	margin-top: 618px;
	margin-left: 48px;
	transition: margin-top 5s ease 200ms;
}

.image2:hover {
	margin-top: 2500px;
	transition: margin-top 5s ease 200ms;

}

img {
	width: 134%;
}*/


.container1 {
	background-image: url(https://micrio.vangoghmuseum.nl/iiif/pMtwg/full/1280,/0/default.jpg?hash=1BVa-3RgkT6XhU2vkF-qFEp3vSY09x_XPtkJRjPkRag);
	background-position: center;
    background-size: cover;
	margin-top: 10pt;
	display: flex;
	height: 18em;
	justify-content: space-around;
	align-items: center;
}


.container2 {  
	background-image: url(https://img.glyphs.co/img?q=85&w=900&src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL2Jsb2ctaW1hZ2VzL09QVE8tSW1hZ2UtMTUuanBnP210aW1lPTIwMTgxMjE0MTY1NjIw);
	background-size: auto 50em;
	display: flex;
	justify-content: space-around;
}

.starter-box {
	background: transparent;

}

.container3 {  
	background-image: url(https://micrio-cdn.vangoghmuseum.nl/TZCqF/views/max/1280x1682.jpg);
    background-position: center;
    background-size: cover;
	margin-top: 10pt;
	display: flex;
	height: 18em;
	justify-content: space-around;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container3:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box1 {
	background: #f9c74f;
	flex: 1 100%;
  	text-align: center;
  	padding: 7px;
  	margin: 10px; 
  	opacity: 25%;
  	border-radius: 10px;
}

.box1:hover {
	opacity: 100%;
	border-radius: 10px;
}

.container4 {  
	background-image: url(https://micrio.vangoghmuseum.nl/iiif/TznmE/full/1280,/0/default.jpg?hash=O9DenTBG9XiFhnzsYNHWbvsTriHplBOq2vwo3OK2glM);
	background-position: right center;
    background-size: cover;
	margin-top: 20pt;
	display: flex;
	height: 18em;
	justify-content: space-around;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container4:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box2 {
	flex: 1 100%;
  	text-align:center;
  	margin: 10px; 
  	background: #90be6d;
  	opacity: 25%;
  	padding: 7px;
  	border-radius: 10px;
}

.box2:hover {
	opacity: 100%;
	border-radius: 10px;
}

.container5 {  
	background-image: url(https://micrio.vangoghmuseum.nl/iiif/wTQHw/full/1280,/0/default.jpg?hash=ToPt1SulVg8K3i7zseCNTj7LbaF0EzLlphgOLM4jnVQ);
	background-position: bottom center;
    background-size: cover;
	margin-top: 20pt;
	height: 18em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container5:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box3 {
	flex: 1 100%;
  	text-align:center;
  	margin: 10px;
  	background: #43aa8b;
  	opacity: 25%;
  	padding: 7px;
  	border-radius: 10px;
}

.box3:hover {
	opacity: 100%;
	border-radius: 10px;
}

.container6 {  
	background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/letter-from-vincent-van-gogh-to-theo-van-gogh-with-sketch-of-cicada-vincent-van-gogh.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 20pt;
	display: flex;
	height: 18em;
	justify-content: space-around;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container6:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box4 {
	flex: 1 100%;
  	text-align:center;
  	margin: 10px;
  	background: #4d908e;
  	opacity: 25%;
  	padding: 7px;
  	border-radius: 10px;
}

.box4:hover {
	opacity: 100%;
	border-radius: 10px;
}


.container7 {  
	background-image: url(https://micrio.vangoghmuseum.nl/iiif/qJRSM/full/1280,/0/default.jpg?hash=kw0JMvdYI3bRceAZYgBV6fBI6TiUqZ2Tx_Xk8ZqfXg0);
	background-position: center;
	background-size: cover;
	margin-top: 20pt;
	display: flex;
	height: 18em;
	justify-content: space-around;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container7:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.box5 {
	flex: 1 100%;
  	text-align:center;
  	margin: 10px;
  	background:  #577590;
  	opacity: 25%;
  	padding: 7px;
  	border-radius: 10px;
}

.box5:hover {
	opacity: 100%;
	border-radius: 10px;
}

.container8 {  
	background-image: url(https://www.vangoghstudio.com/Files/6/102000/102147/FileBrowser/paintings/cafe-terrace-reproduction.jpg);
	background-size: cover;
	background-position: left center;
	margin-top: 20px;
	margin-bottom: 100px;
	display: flex;
	height: 18em;
	justify-content: space-between;
	align-items: center;
	filter: blur(2px);
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
}

.container8:hover {
	height: 25em;
	filter: blur(0px);
	transition-property: height;
	transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 300ms;
 }

.box6 {
	flex: 1 100%;
  	text-align:center;
  	margin: 10px;
  	background: #f8961e;
  	opacity: 25%;
  	padding: 7px;
  	border-radius: 10px;
}

.box6:hover {
	opacity: 100%;
	border-radius: 10px;
}

.container9 {
	display: flex;
	margin top: 80px;
	margin-bottom: 30px;
	height: 12em;
	justify-content: space-between;
	align-items: center;
	background-image: url(https://micrio.vangoghmuseum.nl/iiif/pMtwg/full/1280,/0/default.jpg?hash=1BVa-3RgkT6XhU2vkF-qFEp3vSY09x_XPtkJRjPkRag);
	background-position: bottom;
	background-size: cover;
}

.box7 {
    width: 481px;
    height: 117px;
    text-align: left;
    margin-left: 50px;
    margin-top: -48px;
}

.box8 {
	width: 147px;
	height: 147px;
	margin-right: 50px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0f/Logo_-_Van_Gogh_Museum.png);
	background-size: cover;
}

.box9 {
	margin: 30px;
	border-radius: 50px;
	background-image: url(https://img.glyphs.co/img?q=85&w=900&src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL2Jsb2ctaW1hZ2VzL09QVE8tSW1hZ2UtMTUuanBnP210aW1lPTIwMTgxMjE0MTY1NjIw);
	background-size: auto 50em;
	text-align: center;
	flex: 1 10px;
	align-content: center;
}

}