body{

}

.schoolbus {
    
}

.bodyBus {
    width: 800px;
    height: 400px;
    background-color: #fae600;
    border-radius: 50px;
    position: fixed;
    left: 350px;
    top: 100px;

}

.backWindow {
    width: 600px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    top: 120px;
    left: 500px;
}

.frontWindow {
    width: 50px;
    height: 150px;
    background: black;
    border-radius: 50px;
    position: relative;
    top: -20px;
    left: 340px ;

}

.wheel1 {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 500px;

}

.wheel2 {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 900px;
}

.gasBox {
    width: 50px;
    height: 100px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 350px;
    right: 340px;
}